@import '../../../color/sunset.css'

@keyframes fadeIn {
    0% {
    }
    100% {
    }
}

* {
    font-family: 'Fira Code Nerd Font Mono', monospace;
    font-size: 15px;
    outline: none;
    border: none;
    text-shadow:none;
    background-color:transparent;
}

window {
    all:unset;
    padding: 20px;
    border-radius: 30px;
    border: 2px solid #f27b63;
    background-color: alpha(#0c1c33,.8);
}

#inner-box {
    margin: 2px;
    padding: 5px;
    border: none;
}

#outer-box {    
    border: none;
}
#scroll {
    margin: 0px;
    padding: 30px;
    border: none;
}
#input {
    all:unset;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    padding: 20px;
    border: none;
    outline: none;
    color: #fec77a;
    box-shadow: 1px 1px 5px rgba(0,0,0, .5);
    border-radius: 30px;
    background-color: alpha(#504156,.6);
}

#input image {
    border: none;
    color: #f27b63;
    padding-right: 10px;
}

#input * {
    border: none;
    outline: none;
}

#input:focus {
    outline: none;
    border: none;
    background-color: alpha(#504156,.8);
}

#text {
    margin: 5px;
    border: none;
    color: #da726f;
    outline: none;
}

#text {
    margin: 5px;
    border: none;
    color: #da726f;
    outline: none;
}

#entry {
    border: none;
    margin: 5px;
    padding: 2px;
}

#entry arrow {
    border: none;
    color: #fec77a;
}

#entry:selected {
    box-shadow: 1px 1px 5px rgba(255,255,255, .03);
    border: none;
    border-radius: 8px;
    background-color: #f45e4d;
}

#entry:selected #text {
    color: #fec77a;
}

#entry:drop(active) {
    background-color: #504156 !important;
}
